$white: #ffffff;
$off-white: #f1f1f1;
$blue: #0057b8;
$red: #e4002b;

@font-face {
    font-family: 'Unity';
    src: url('../fonts/UnityText-Bold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Unity';
    src: url('../fonts/UnityText-Roman.woff');
    font-weight: normal;
}

$font1: 'Unity',
    serif;

* {
    box-sizing: border-box;
    font-family: $font1;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit!important;
    
    &:not(.underline) {
        text-decoration: none!important;
        /*border-bottom: 1px solid white;*/
    }
}

