$white: #ffffff;
$off-white: #f1f1f1;
$red: #8d1829;
$gold: #ffb400;

$font1: 'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;

* {
    box-sizing: border-box;
    font-family: $font1;
}

body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    color: inherit!important;
    
    &:not(.underline) {
        text-decoration: none!important;
        /*border-bottom: 1px solid white;*/
    }
}

