@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';
body {
    background-color: $off-white;
}

#app-root {
    background-color: $white;
    position: absolute;
    @include hundop;
    #App {
        @include hundop;
        @include flex($flex-direction: column);
        #Header,
        #Footer {
            width: 100%;
            flex-grow: 0;
            color: $white;
            background-color: $red;
            h1 {
                @include flex($align-items: flex-end);
            }
        }
        #Header {
            @include flex();
            min-height: $header-min-height;
            padding: $header-padding;
        }
        #Footer {
            /*@include flex($flex-direction: column);*/
            text-align: center;
            min-height: 50px;
            padding: $footer-padding;
            > * {
                font-family: 'Helvetica Neue', 'Helvetica'!important;
                font-weight: 300;
                margin: 1px;
            }
        }
        #Body {
            @include flex($flex-direction: column);
            flex: 1;
            @media screen and (max-width: 500px) {
                padding: $body-mobile-padding;
            }
            @media screen and (min-width: 501px) {
                padding: $body-padding;
            }
            .AuthButton {
                cursor: pointer;
                margin-top: 15px;
                color: $auth-button-color;
                background-color: $auth-button-bg;
                padding: $auth-button-padding;
                border: none;
                font-weight: $auth-button-weight;
                @media screen and (min-width: 501px) {
                   font-size: $auth-button-size;
                }
                @media screen and (max-width: 500px) {
                   font-size: $auth-button-size * 0.8;
                }
            }
            .SignOutButton {
                cursor: pointer;
                margin-top: 15px;
                color: $auth-button-color;
                background-color: $signout-button-bg;
                padding: $auth-button-padding;
                border: none;
                font-weight: $auth-button-weight;
                @media screen and (min-width: 501px) {
                   font-size: $auth-button-size;
                }
                @media screen and (max-width: 500px) {
                   font-size: $auth-button-size * 0.8;
                }
             
            }
            canvas, .sample {
                /*width: 512px;
                height: 512px;*/
                max-width: 50vw;
                max-height: 50%;
            }
            .above {
                text-align: center;
                margin-bottom: 15px;
                @media screen and (min-width: 501px) {
                   font-size: $auth-button-size;
                }
                @media screen and (max-width: 500px) {
                   font-size: $auth-button-size * 0.8;
                }
            }
        }
    }
}



canvas {
    cursor: pointer;
}