@import './mixins.scss';
@import './constants.scss';
@import './variables.scss';
body {
    background-color: $off-white;
}

#app-root {
    background-color: $white;
    position: absolute;
    @include hundop;
    #App {
        @include hundop;
        @include flex($flex-direction: column);
        #Header,
        #Footer {
            width: 100%;
            flex-grow: 0;
            color: $white;
            background-color: $blue;
            h1 {
                @include flex($align-items: flex-end);
            }
        }
        #Header {
            @include flex();
            min-height: 100px;
            padding: $header-padding;
        }
        #Footer {
            /*@include flex($flex-direction: column);*/
            text-align: center;
            min-height: 50px;
            padding: $footer-padding;
            > * {
                font-family: 'Helvetica Neue', 'Helvetica'!important;
                font-weight: 300;
                margin: 1px;
            }
        }
        #Body {
            @include flex($flex-direction: column);
            flex: 1;
            padding: $body-padding;
            .AuthButton {
                cursor: pointer;
                margin-top: 15px;
                color: $auth-button-color;
                background-color: $auth-button-bg;
                padding: $auth-button-padding;
                border: none;
                font-weight: $auth-button-weight;
                font-size: $auth-button-size;
            }
            .SignOutButton {
                cursor: pointer;
                margin-top: 15px;
                color: $auth-button-color;
                background-color: $signout-button-bg;
                padding: $auth-button-padding;
                border: none;
                font-weight: $auth-button-weight;
                font-size: $auth-button-size;
            }
            canvas, .sample {
                /*width: 512px;
                height: 512px;*/
                max-width: 60vw;
                max-height: 60%;
            }
        }
    }
}

