$header-padding: 1.2em 1em 1em 1em;
$footer-padding: 0.6em 0.5em 0.5em 0.5em;
$header-min-height: 60px;

$body-padding: 3em;
$body-mobile-padding: 1.3em;

$auth-button-color: $white;
$auth-button-bg: $red;
$auth-button-padding: 0.5em 1em;

$auth-button-weight: bold;
$auth-button-size: 1.5em;

$signout-button-bg: $red;